@tailwind base;
@tailwind components;
@tailwind utilities;

* {
box-sizing: border-box;
}

@layer base{
    *{
        @apply m-0 p-0 
    }
    html,body{
        @apply max-w-[100svw]
    }
    header{
        @apply w-[100%]
    }
}

@layer utilities {
      /* For removing scrollbar */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
        
        }
}
@media (max-width: 768px) {
  .navlinks div {
    position: relative;
    z-index: 1; /* Adjust z-index to prevent overlap */
  }
}
